<% 
var Paths = [];

if(typeof paths !== 'array')
	Paths[0] = paths;
else 
	Paths = paths;

function bytesToSize(bytes) {
    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
    if (bytes == 0) return 'n/a';
    var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
    if (i == 0) return bytes + ' ' + sizes[i]; 
    return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];
};

Paths.forEach(function(path) {
	
	path.albums.forEach(function(album) {

		if(album.files.length > 1) {
			var tailleDossier = 0;

			for(var i = 0; i < album.files.length; i++) {
				tailleDossier += parseInt(album.files[i].size);
			}

		}
		%>
		<div data-id="<%- album._id %>" class="element list audio clearfix" data-date-added="<%- new Date(album.dateAdded).getTime() %>">
			<div class="pullLeft">
				<a href="/listen/<%- album._id %>" title="Écouter">
					<div class="cover">
						<div class="cover-hover">
							<i class="entypo-play"></i>
						</div>
						<% if(album.cover == undefined) {%>
							<i class="entypo-cd"></i>
						<% } else { %>
							<img src="<%- album.cover %>" />
						<% } %>
					</div>
				</a>
			</div>
			<div class="list-infos">
				<h1 class="league-gothic"><%- album.title %></h1>

				<div class="button-group">
					<a href="/listen/<%- album._id %>" title="Écouter">
						<i class="entypo-note-beamed"></i>
					</a>
					<% if(album.files.length > 1) {%>
					<a href="/archive/<%- album._id %>" data-full-size="<%- tailleDossier %>" class="archive" title="Télécharger">
					<% } else {%>
					<a href="/download/<%- album._id %>" title="Télécharger">
					<% } %>
						<i class="entypo-download"></i>
					</a>
					<a href="/delete/album/<%- album._id %>" title="Supprimer">
						<i class="entypo-trash"></i>
					</a>
				</div>

				<hr />
				<p class="infos">
					<% if(album.artist != undefined) { %>
						Artiste : <%- album.artist %><br />
					<% } %>
					<% if(album.album != undefined && album.artist != undefined) { %>
						Album : <%- album.album %><br />
					<% } %>

					<% if(album.genre != undefined) { %>
						Genre : <%- album.genre %><br />
					<% } %>

					<% if(album.year != undefined) { %>
						Année : <%- album.year %><br />
					<% } %>
				</p>

			</div>

			<% if(album.files.length) { %>
				<div class="showFiles">
					<i class="entypo-attach"></i>Fichiers du dossier
				</div>
				<div class="files">
					<table>
						<thead>
							<tr><th>#</th><th>Nom</th><th>Poids</th><th>Options</th></tr>
						</thead>
						<tbody>
							<%	var i = 1, tailleDossier = 0;
							album.files.sort(function (a, b) {
							    if (a.name == b.name) {
							        return 0;
							    } else if (a.name > b.name) {
							        return 1;
							    }
							    return -1;
							});

							album.files.forEach(function(file) {
								tailleDossier += parseInt(file.size);
							%>
							<tr>
								<td><%- i %></td>
								<td style="text-align:left"><%- file.name %></td>
								<td><%- bytesToSize(file.size) %></td>
								<td>-</td>
							</tr>			
							<% 
								i++;
							}); 
							%>
						</tbody>
						<tfoot>
							<tr>
							<td colspan="3" style="text-align:left">Taille totale : <%- bytesToSize(tailleDossier) %></td>
							<td>
								<a href="/archive/<%- album._id %>" data-full-size="<%- tailleDossier %>" class="archive">Télécharger le dossier</a>
							</td>
							</tr>
						</tfoot>
					</table>
				</div>
			<% } %>
		</div>
		<div data-id="<%- album._id %>" class="element miniature audio clearfix" data-date-added="<%- new Date(album.dateAdded).getTime() %>">
			<div class="titre"><h1 class="league-gothic" title="<%- album.artist + ' - ' + album.album %>"><%- album.title %></h1></div>

			<a href="/listen/<%- album._id %>" title="Écouter">
				<% if(album.cover == undefined) {%>
					<img src="/images/cover/audio.png" />
				<% } else { %>
					<img src="<%- album.cover %>" />
				<% } %>
			</a>
		</div>
		<div data-id="<%- album._id %>" class="element table audio" data-date-added="<%- new Date(album.dateAdded).getTime() %>">
			<i class="entypo-music"></i>
			<%- album.title %>
		</div>
		<%
	});

	path.movies.forEach(function(movie) {
		var tailleDossier = 0;

		if(movie.files.length > 1)
			for(var i = 0; i < movie.files.length; i++)
				tailleDossier += parseFloat(movie.files[i].size);

		%>
		<div data-id="<%- movie._id %>" class="element list video clearfix" data-date-added="<%- new Date(movie.dateAdded).getTime() %>">
			<div class="pullLeft">
				<a href="/watch/<%- movie._id %>" title="Visionner">
					<div class="cover">
						<div class="cover-hover">
							<i class="entypo-play"></i>
						</div>
						<% if(movie.poster == undefined) {%>
							<i class="entypo-video"></i>
						<% } else { %>
							<img src="<%- movie.poster %>" />
						<% } %>
					</div>
				</a>
			</div>
			<div class="list-infos">
				<h1 class="league-gothic"><%- movie.title %>
<% if(movie.season != undefined) { %>- S<%- movie.season%><% if(movie.episode != undefined && movie.files.length < 2) { %>E<%- movie.episode%><% } } %></h1>

				<div class="button-group">
					<a href="/watch/<%- movie._id %>" title="Visionner">
						<i class="entypo-eye"></i>
					</a>

					<% if(movie.files.length > 1) {%>
					<a href="/archive/<%- movie._id %>" data-full-size="<%- tailleDossier %>" class="archive" title="Télécharger">
					<% } else {%>
					<a href="/download/<%- movie._id %>" title="Télécharger">
					<% } %>
						<i class="entypo-download"></i>
					</a>

					<a href="/delete/movie/<%- movie._id %>" title="Supprimer">
						<i class="entypo-trash"></i>
					</a>
				</div>

				<hr />
				<p class="infos">
					<%- movie.synopsis %><br>
					<% if(movie.trailer != undefined) { %>
						<a href="<%- movie.trailer%>" target="_blank">Voir le trailer</a>
					<% } %>
				</p>

				<% if(movie.quality != undefined) { %>
					<p class="info"><i class="entypo-monitor"></i><%- movie.quality %></p>
				<% } %>
				<% if(movie.language != undefined) { %>
					<p class="info"><i class="entypo-sound"></i><%- movie.language %></p>
				<% } %>
				<% if(movie.subtitles != undefined) { %>
					<p class="info"><i class="entypo-text-doc"></i><%- movie.subtitles %></p>
				<% } %>

			</div>
			<% if(movie.files.length > 1) { %>
				<div class="showFiles">
					<i class="entypo-attach"></i><% if(movie.type == 'tvseries') { %>Episodes<%} else {%>Fichiers du dossier<%}%>
				</div>
				<div class="files">
					<table>
						<thead>
							<tr><th>#</th><th>Nom</th><th>Poids</th><th>Options</th></tr>
						</thead>
						<tbody>
							<%	var i = 1, tailleDossier = 0;
							movie.files.sort(function (a, b) {
							    if (a.name == b.name) {
							        return 0;
							    } else if (a.name > b.name) {
							        return 1;
							    }
							    return -1;
							});

							movie.files.forEach(function(file) {
							%>
							<tr data-id="<%if(file.episode !== undefined){%><%-file._id%><%} %>">
								<td><%- i %></td>
								<td style="text-align:left"><%- file.name %> <%if(file.episode !== undefined) {%> - E<%-file.episode%><%}%></td>
								<td><%- bytesToSize(file.size) %></td>
								<td>-</td>
							</tr>			
							<% 
								i++;
							}); 
							%>
						</tbody>
						<tfoot>
							<tr>
								<% if(movie.files[0].episode === undefined ) { %> 
									<td colspan="3" style="text-align:left">Taille totale : <%- bytesToSize(tailleDossier) %></td>
									<td>
										<a href="/archive/<%- movie._id %>" data-full-size="<%- tailleDossier %>" class="archive">Télécharger le dossier</a>
									</td>
								<% } %>
							</tr>
						</tfoot>
					</table>
				</div>
			<% } %>
		</div>
		<div data-id="<%- movie._id %>" class="element miniature video" data-date-added="<%- new Date(movie.dateAdded).getTime() %>">
			<div class="titre"><h1 class="league-gothic" title="<%- movie.title %>"><%- movie.title %></h1></div>
		
			<a href="/watch/<%- movie._id %>">
	 			<% if(movie.poster == undefined) {%>
					<i class="entypo-video"></i>
				<% } else { %>
					<img src="<%- movie.poster %>" />
				<% } %>
			</a>
		</div>
		<div data-id="<%- movie._id %>" class="element table video" data-date-added="<%- new Date(movie.dateAdded).getTime() %>">
			<i class="entypo-video"></i>
			<%- movie.title %>
			<% if(movie.season != undefined) { %>
				- S<%- movie.season%>E<%- movie.episode%>
			<% } %>
		</div>
		<%
	});

	path.others.forEach(function(other) {

		if(other.files.length > 1) {
			var tailleDossier = 0;

			for(var i = 0; i < other.files.length; i++) {
				tailleDossier += parseInt(other.files[i].size);
			}

		}
		%>
		<div data-id="<%- other._id %>" class="element list other clearfix" data-date-added="<%- new Date(other.dateAdded).getTime() %>">
			<div class="pullLeft">
				<% if(other.files.length > 1) {%>
				<a href="/archive/<%- other._id %>" data-full-size="<%- tailleDossier %>" class="archive" title="Télécharger">
				<% } else {%>
				<a href="/download/<%- other._id %>" title="Télécharger">
				<% } %>
					<div class="cover">
						<div class="cover-hover">
							<i class="entypo-play"></i>
						</div>
						<i class="entypo-box"></i>
					</div>
				</a>
			</div>
			<div class="list-infos">
				<h1 class="league-gothic"><%- other.title %></h1>
				<div class="button-group">
					<% if(other.files.length > 1) {%>
					<a href="/archive/<%- other._id %>" data-full-size="<%- tailleDossier %>" class="archive" title="Télécharger">
					<% } else {%>
					<a href="/download/<%- other._id %>" title="Télécharger">
					<% } %>
						<i class="entypo-download"></i>
					</a>

					<a href="/delete/other/<%- other._id %>" title="Supprimer">
						<i class="entypo-trash"></i>
					</a>
				</div>
				<hr />
				<p class="infos">
					<% if(other.files) {%>
					Extension : <%- other.files[0].ext %> <br />
						<% if(other.files.length == 1) { %>
						Taille : <%- bytesToSize(other.files[0].size) %>
						<% } %>
					<% } %>
				</p>
			</div>
			<% if(other.files.length > 1) { %>
				<div class="showFiles">
					<i class="entypo-attach"></i>Fichiers du dossier
				</div>
				<div class="files">
					<table>
						<thead>
							<tr><th>#</th><th>Nom</th><th>Poids</th><th>Options</th></tr>
						</thead>
						<tbody>
							<%	var i = 1, tailleDossier = 0;
							other.files.sort(function (a, b) {
							    if (a.name == b.name) {
							        return 0;
							    } else if (a.name > b.name) {
							        return 1;
							    }
							    return -1;
							});

							other.files.forEach(function(file) {
							%>
							<tr>
								<td><%- i %></td>
								<td style="text-align:left"><%- file.name %></td>
								<td><%- bytesToSize(file.size) %></td>
								<td>-</td>
							</tr>			
							<% 
								i++;
							}); 
							%>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3" style="text-align:left">Taille totale : <%- bytesToSize(tailleDossier) %></td>
								<td>
									<a href="/archive/<%- other._id %>" data-full-size="<%- tailleDossier %>" class="archive">Télécharger le dossier</a>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			<% } %>
		</div>
		<div data-id="<%- other._id %>" class="element miniature other clearfix" data-date-added="<%- new Date(other.dateAdded).getTime() %>">
			<div class="titre"><h1 class="league-gothic" title="<%- other.name %>"><%- other.title %></h1></div>
			<% if(other.files.length > 1) {%>
			<a href="/archive/<%- other._id %>" data-full-size="<%- tailleDossier %>" class="archive" title="Télécharger">
			<% } else {%>
			<a href="/download/<%- other._id %>" title="Télécharger">
			<% } %>
				<i class="entypo-box"></i>
			</a>
		</div>
		<div data-id="<%- other._id %>" class="element table other" data-date-added="<%- new Date(other.dateAdded).getTime() %>">
			<i class="entypo-box"></i> <%- other.title %>
		</div>
		<%
	});
});
%>
	
