<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="utf-8" />
    <title><%= title %></title>

    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/icon-font.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/loader.css" />

    <script data-main="/javascripts/main" src="/javascripts/require-jquery.js"></script>

    <% if(location.indexOf('/listen') === 0) { %>
      <link rel="stylesheet" type="text/css" href="/stylesheets/jplayer/jplayer.blue.monday.css">
    <% } %>

    <style>
      .error {
          color: red
      }
      .success {
          color: green;
      }
    </style>
  </head>
  <body>
    <div id="alert">
      <%- message %>
    </div>
    <header>
      <div class="container clearfix">
        <% if(user) { %>
          <div id="user" class="pullRight">
            <%= user.username %>
            <a href="/logout" title="Se déconnecter" class="tip"><i class="entypo-logout pullRight" style="margin-left:5px"></i></a>
            <a href="/documentation" title="Aide" class="tip"><i class="entypo-help pullRight" style="margin-left:5px"></i></a>
            <% if(user.role == 'admin') {%>
              <a href="/admin" title="Panel d'administration"><i class="entypo-tools pullRight" style="margin-left:5px"></i></a>
            <% } %>
            <a href="/reset/<%= user.id%>"><i class="entypo-ccw pullRight" title="Réinitialiser la base de données" style="margin-left:5px"></i></a>

          </div>

          <nav id="menu" class="pullLeft clearfix">
            <a href="/" title="Bureau">
              <button class="first">
                <i class="entypo-drive"></i>Bureau
              </button>
            </a>
            <% if(user.client == 'transmission') { %>
              <% if(config.torrentLink == 'link') { %>
                <a href="http://<%= host %>:<%= user['rpc-port'] %>" title="Accéder aux torrents">
              <% } else if (config.torrentLink == 'window') { %>
                <a href="http://<%= host %>:<%= user['rpc-port'] %>" target="_blank" title="Accéder aux torrents">
              <% } else { %>
                <a href="/torrents" title="Accéder aux torrents">
              <% } %>
            <% } else if(user.client == 'rutorrent') { %>
              <% if(config.torrentLink == 'link') { %>
                <a href="/rutorrent" title="Accéder aux torrents">
              <% } else if (config.torrentLink == 'window') { %>
                <a href="/rutorrent" target="_blank" title="Accéder aux torrents">
              <% } else { %>
                <a href="/torrents" title="Accéder aux torrents">
              <% } %>
            <% } else { %>
              <a href="#aucun">
            <% } %>
              <button id="torrents">
                <i class="entypo-network"></i>Torrents
              </button>
            </a>
          </nav>

          <div id="diskSpace" class="league-gothic">
            <div id="usedBar" style="width:<%= usedSize.percent %>%"></div>
            <span class="text">Espace Disque</span>
            <span class="size">
              <span class="used"></span>
              <span class="left"></span>
            </span>
          </div>
        <% } else { %> 
          <h1 class="text-center invert pullLeft" style="font-size:3em;"><img src="/images/planetetrans.png" style="vertical-align:middle;margin-right:15px" height="50px"/>EzSeed</h1>
        <% } %>
      </div>
    </header>
      <% if(user && location == '/') { %>
      <nav id="display">
        <div id="displayOptions">
          <i class="entypo-list" title="Présentation par liste simplifiée" data-filter=".table" ></i>
          <i class="entypo-numbered-list" title="Présentation par liste" data-filter=".list"></i>
          <i class="entypo-layout" title="Présentation par miniatures" data-filter=".miniature" ></i>
        </div>
        <div id="search" class="input-block">
          <i class="entypo-search"></i><input type="search" name="search" />
        </div>

        <div id="loader">
          <div class="spinner icon-spinner" aria-hidden="true"></div>
        </div>

        <ul id="displayFilters">
          <li data-filter=".video" data-display=".list">Vidéos</li>
          <li data-filter=".audio" data-display=".list">Audio</li>
          <li data-filter=".other" data-display=".list">Autres</li>
        </ul>
      </nav>
      <% } %>


    <section id="desktop" <% if(location == '/torrents') {%>style="width:90%"<%}%>>
      