<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="utf-8" />
    <title><%= title %></title>
      
      
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/fontello.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nv.d3.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/icon-font.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/loader.css" />
      
    <script data-main="/js/" src="/js/d3.v2.js"></script>
<script src="/js/nv.d3.custom.js"></script>

<!-- nvd3 models -->
<script data-main="/js/" src="/js/jquery-2.0.3.min.js"></script>
<script data-main="/js/" src="/js/scatter.js"></script>
<script data-main="/js/" src="/js/axis.js"></script>
<script data-main="/js/" src="/js/legend.js"></script>
<script data-main="/js/" src="/js/line.js"></script>
<script data-main="/js/" src="/js/stream_layers.js"></script>
<script data-main="/js/" src="/js/lineChart.js"></script>
<script data-main="/js/" src="/js/multiBar.js"></script>
<script data-main="/js/" src="/js/multiBarChart.js"></script>

<!--backbone and friends -->
<script data-main="/js/" src="/js/underscore-min.js"></script>

<!-- bootstrap default plugins -->
<script data-main="/js/" src="/js/transition.js"></script>
<script data-main="/js/" src="/js/collapse.js"></script>
<script data-main="/js/" src="/js/tooltip.js"></script>
<script data-main="/js/" src="/js/popover.js"></script>
<script data-main="/js/" src="/js/button.js"></script>
<script data-main="/js/" src="/js/dropdown.js"></script>
<script data-main="/js/" src="/js/modal.js"></script>

<!-- basic application js-->
<script data-main="/js/" src="/js/app.js"></script>
<script data-main="/js/" src="/js/settings.js"></script>

    <script data-main="/javascripts/main" src="/javascripts/require-jquery.js"></script>

    <% if(location.indexOf('/listen') === 0) { %>
      <link rel="stylesheet" type="text/css" href="/stylesheets/jplayer/jplayer.blue.monday.css">
    <% } %>

  </head>
  <body class="background-dark" style="background-attachment:fixed">
    <div id="box">
      <%- message %>
    </div>
              <% if(user) { %>
      <div class="logo">
<h4><a href="/">Boxe de <strong><%= user.username %></strong></a></h4>
</div>
              <% if(user && location == '/') { %>
      <nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="active panel">
            <a href="/"><i class="fa fa-desktop"></i> <span class="name">Bureau</span></a>
        </li>        
        <li>
                        <% if(user.client == 'transmission') { %>
              <% if(config.torrentLink == 'link') { %>
                <a href="http://<%= host %>:<%= user['rpc-port'] %>" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else if (config.torrentLink == 'window') { %>
                <a href="http://<%= host %>:<%= user['rpc-port'] %>" target="_blank" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else { %>
                <a href="/torrents" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } %>
            <% } else if(user.client == 'rutorrent') { %>
              <% if(config.torrentLink == 'link') { %>
                <a href="/rutorrent" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else if (config.torrentLink == 'window') { %>
                <a href="/rutorrent" target="_blank" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else { %>
                <a href="/torrents" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } %>
            <% } else { %>

                <% } %>
            </a>                                    
        </li>                      <br> <center>
                    <div id="displayOptions" class="btn-group btn-group-xs">
          <i class="fa fa-list btn btn-transparent" title="Présentation par liste simplifiée" data-filter=".table"></i>
          <i class="fa fa-th-list btn btn-transparent" title="Présentation par liste" data-filter=".list"></i>
          <i class="fa fa-th-large btn btn-transparent" title="Présentation par miniatures" data-filter=".miniature"></i>
        </div></center>
                    <br>
                    <center>
                    <ul style="text-align:center" id="displayFilters" class="btn-group btn-group-xs">
          <li class="btn btn-default btn-transparent" data-filter=".video" data-display=".list">Vidéos</li>
          <li class="btn btn-default btn-transparent" data-filter=".audio" data-display=".list">Audio</li>
          <li class="btn btn-default btn-transparent" data-filter=".other" data-display=".list">Autres</li>
        </ul></center>
                </ul></nav>                 

        <% } else if(user && location == '/torrents') { %>
                          <nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li>
            <a href="/"><i class="fa fa-desktop"></i> <span class="name">Bureau</span></a>
        </li>        
        <li class="active panel">
                    <% if(user.client == 'transmission') { %>
              <% if(config.torrentLink == 'link') { %>
                <a href="http://<%= host %>:<%= user['rpc-port'] %>" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else if (config.torrentLink == 'window') { %>
                <a href="http://<%= host %>:<%= user['rpc-port'] %>" target="_blank" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else { %>
                <a href="/torrents" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } %>
            <% } else if(user.client == 'rutorrent') { %>
              <% if(config.torrentLink == 'link') { %>
                <a href="/rutorrent" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else if (config.torrentLink == 'window') { %>
                <a href="/rutorrent" target="_blank" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else { %>
                <a href="/torrents" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } %>
            <% } else { %>

                <% } %></a>
        </li>  </ul></nav>
                    <% } else if(user && location == '/admin') { %>
                                           <nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">   
        <li>
            <a href="/"><i class="fa fa-desktop"></i> <span class="name">Bureau</span></a>
        </li>        
        <li>
           <% if(user.client == 'transmission') { %>
              <% if(config.torrentLink == 'link') { %>
                <a href="http://<%= host %>:<%= user['rpc-port'] %>" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else if (config.torrentLink == 'window') { %>
                <a href="http://<%= host %>:<%= user['rpc-port'] %>" target="_blank" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else { %>
                <a href="/torrents" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } %>
            <% } else if(user.client == 'rutorrent') { %>
              <% if(config.torrentLink == 'link') { %>
                <a href="/rutorrent" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else if (config.torrentLink == 'window') { %>
                <a href="/rutorrent" target="_blank" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else { %>
                <a href="/torrents" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } %>
            <% } else { %>

                <% } %></a></ul></nav>

                    <% } else { %>
                    <nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">   
        <li>
            <a href="/"><i class="fa fa-desktop"></i> <span class="name">Bureau</span></a>
        </li>        
        <li>
           <% if(user.client == 'transmission') { %>
              <% if(config.torrentLink == 'link') { %>
                <a href="http://<%= host %>:<%= user['rpc-port'] %>" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else if (config.torrentLink == 'window') { %>
                <a href="http://<%= host %>:<%= user['rpc-port'] %>" target="_blank" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else { %>
                <a href="/torrents" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } %>
            <% } else if(user.client == 'rutorrent') { %>
              <% if(config.torrentLink == 'link') { %>
                <a href="/rutorrent" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else if (config.torrentLink == 'window') { %>
                <a href="/rutorrent" target="_blank" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } else { %>
                <a href="/torrents" title="Accéder aux torrents"><i class="fa fa-magnet"></i> <span class="name">Torrents</span>
              <% } %>
            <% } else { %>

                <% } %></a>
</ul>
                    </nav>
                    
                    <% } %>        
                    <br>
<div class="wrap">
                    <header class="page-header ">
        <div class="navbar">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <% if(user && location == '/') { %>
                      <div id="search" class="navbar-form pull-left" role="search" style="height: 0px;">
                    <input class="col-sm-10 input-transparent" type="search" class="search-query" name="search" />
                </div>                      
                    <% } %>
                    <% if(user.role == 'admin') {%>
                      <li class="hidden-xs dropdown">
                        <a href="/admin" title="Administration">
                            <i class="fa fa-dashboard"></i>
                        </a>
                    </li>
                                <% } %> 
                    <li class="divider"></li>
                    <li class="hidden-xs"><a href="/documentation" title="Documentation"><i class="fa fa-info"></i></a></li>
                    <li class="hidden-xs"><a href="/logout" title="Déconnexion"><i class="fa fa-sign-out"></i></a></li>
                </ul>
                
        </div>
    </header>
    <section class="content container">
          <div class="widget">
                    <div class="carousel-inner text-align-center">
                        <div class="item active">
                            <h4 class="no-margin big-text"><em class="size"><span class="label label-success used"></span><span class="left"></span></em><% if(user && location == '/') { %><div class="pull-left"><div id="loader">
          <div class="fa fa-spinner fa-spin" aria-hidden="true"></div>
        </div></div><% } %></h4><hr>
<div class="progress progress-striped active">
			<div class="progress-bar progress-bar-success tip"role="progressbar" id="usedBar" style=""></div>
			</div>           
			</div>           
			</div>           
			</div>     
    
                <section id="desktop" class="col-md-10 col-md-offset-1">
        <% } else { %> 
        <header>
<div class="logo">
<h4><a href="/"><strong>Serveur</strong></a></h4>
</div></header>
        <% } %>
