	<h2><i class="entypo-database"></i> Répertoires surveillés</h2>
	<div>
		<div class="content">
			<a href="/admin/path" class="pullRight" style="text-decoration:none;"><i class="entypo-install"></i> Ajouter un répertoire</a><br>

			<ol>
			<% var nbPaths = paths.length; %>
			<%
			while(nbPaths--) {
				var p = paths[nbPaths];
			%>	
				<li>
					<div class="pullRight">
						<a title="Supprimer le répertoire" href="/admin/path/<%= p._id %>/delete"><i class="entypo-erase"></i></a>
					</div>
					<%= p.path %>
					<br><br>Mis à jour : <i><%= p.dateUpdated.getFrenchDateAsString() %></i> (<%= p.movies.length %> vidéos, <%= p.albums.length %> albums, <%= p.others.length %> autres)
				</li>
			<% 
			}
			%>
			<!-- <ul>
				<li>Ajouter un répertoire</li>
				<li>Supprimer rép + contenu</li>
			</ul> -->
		</div>
	</div>