<%
    function bytesToSize(bytes) {
    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
    if (bytes == 0) return 'n/a';
    var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
    if (i == 0) return bytes + ' ' + sizes[i]; 
    return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];
};


albums.forEach(function(album) {
    album.title = '';
    album.title += (album.artist !== undefined && album.artist !== null) ? album.artist : '';
    album.title += (album.album !== undefined && album.album !== null) ? ' - ' + album.album : '';
    if(album.title.length == 0) {
        var t = album.prevDir.split('/');
        t = t[t.length-1];
        
        album.title += t;
    }
    if(album.songs.length > 1) {
        var tailleDossier = 0;
        
        for(var i = 0; i < album.songs.length; i++) {
            tailleDossier += parseInt(album.songs[i].size);
        }
        
    }
    %>
<div data-id="<%- album._id %>" class="widget element list audio clearfix col-md-11" data-date-added="<%- new Date(album.dateAdded).getTime() %>">
    <header>
        <h4><i class="fa fa-music"></i> <%- album.title %> 
            <div class="pull-right">
                <div class="btn-group btn-group-xs">
                    <% if(album.songs.length > 1) {%>
                    <a class="btn btn-transparent btn-sm" href="/archive/<%- album._id %>" data-full-size="<%- tailleDossier %>" class="archive" title="Télécharger">
                        <% } else {%>
                        <a class="btn btn-transparent btn-sm" href="/download/<%- album._id %>" title="Télécharger">
                            <% } %>
                            <i class="fa fa-download"></i>
                        </a>
                        <a class="btn btn-transparent btn-sm delete-item" href="/delete/album/<%- album._id %>" title="Supprimer">
                            <i class="entypo-trash"></i>
                        </a>
                    </div>
                </div>
            </h4>
        </header>
        <div class="body">
            <div class="col-md-2">
                <div class="cover">
                    <% if(album.picture == undefined || album.picture === null) {%>
                    
                    <% } else { %>
                    <a href="/listen/<%- album._id %>" title="Écouter">
                        <img class="btn btn-transparent" src="<%- album.picture %>" />
                    </a>
                    <% } %>
                </div>
            </div>
            <br>
            <div class="col-md-10">	<div class="box">
                <p><% if(!_.isEmpty(album.artist)) { %>
                    Artiste : <%- album.artist %><br />
                    <% } %>
                    <% if(!_.isEmpty(album.album)) { %>
                    Album : <%- album.album %><br />
                    <% } %>
                    
                    <% if(!_.isEmpty(album.genre)) { %>
                    Genre : <%- album.genre %><br />
                    <% } %>
                    
                    <% if(!_.isEmpty(album.year)) { %>
                    Année : <%- album.year %><br />
                    <% } %>     </p>
                
                <% if(album.songs.length) { %>
                <div class="panel-group" id="<%-album._id%>">
                    <div class="panel">
                        <div>
                            <a class="btn btn-transparent btn-block collapsed showFiles" data-toggle="collapse" data-parent="#<%-album._id%>" href="#is<%-album._id%>">
                                Musiques
                            </a>
                        </div>
                        <div id="is<%-album._id%>" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <table class="table-hover col-md-12">
                                    <thead>
                                        <tr><th>#</th><th>Nom</th><th>Taille</th><th>Options</th></tr>
                                    </thead>
                                    <tbody>
                                        <%	var i = 1, tailleDossier = 0;
                                           album.songs.sort(function (a, b) {
                                               if (a.name == b.name) {
                                                   return 0;
                                               } else if (a.name > b.name) {
                                                   return 1;
                                               }
                                               return -1;
                                           });
                                           
                                           album.songs.forEach(function(file) {
                                               tailleDossier += parseInt(file.size);
                                               %>
                                        <tr>
                                            <td style="text-align:left"><span class="badge badge-inverse"><%- i %></span></td>
                                            <td style="text-align:left"><%- file.name %></td>
                                            <td style="text-align:left"><span class="badge badge-info"><%- bytesToSize(file.size) %></span></td>
                                            <td style="text-align:left"><a class="btn btn-xs btn-transparent" href="/download/<%- album._id %>/<%- file._id%>"><i class="fa fa-download"></i></a></td>
                                        </tr>			
                                        <% 
                                                   i++;
                                           }); 
                                           %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3" style="text-align:left">Taille totale : <span class="badge badge-success"><%- bytesToSize(tailleDossier) %></span></td>
                                            <td style="text-align:left">
                                                <a class="btn btn-transparent btn-xs" href="/archive/<%- album._id %>" data-full-size="<%- tailleDossier %>" class="archive"><i class="fa fa-lock"></i></a>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                </div>
            </div>
        </div>
    </div>
    
    <div data-id="<%- album._id %>" class="element miniature audio clearfix btn btn-transparent" data-date-added="<%- new Date(album.dateAdded).getTime() %>">        
        <a href="/listen/<%- album._id %>" title="Écouter">
            <% if(album.picture == undefined || album.picture === null) {%>
            <img src="/images/cover/audio.png" />
            <% } else { %>
            <img style="max-height:410px;max-width:420px" src="<%- album.picture %>" />
            <% } %>
        </a>
    </div>
    <li data-id="<%- album._id %>" class="dd-item element table audio" data-date-added="<%- new Date(album.dateAdded).getTime() %>">
        <div class="dd-handle col-md-11"><i class="fa fa-music"></i> <%- album.title %></div>
    </li>
    <%
                      });
                       %>