<%
    function bytesToSize(bytes) {
    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
    if (bytes == 0) return 'n/a';
    var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
    if (i == 0) return bytes + ' ' + sizes[i]; 
    return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];
};

movies.forEach(function(movie) {
    var tailleDossier = 0;
    
    if(movie.videos.length > 1)
        for(var i = 0; i < movie.videos.length; i++)
            tailleDossier += parseFloat(movie.videos[i].size);
    
    %> 
<div data-id="<%- movie._id %>" class="widget element list video clearfix col-md-11" data-date-added="<%- new Date(movie.dateAdded).getTime() %>">
    <header>
        <h4><i class="fa fa-film"></i> <%- movie.title %><% if(movie.season != undefined) { %> 
            <span class="badge badge-success">S<%- movie.season%><% if(movie.episode != undefined && movie.videos.length < 2) { %>E<%- movie.episode%><% } } %>
            </span>                 <% if(movie.quality != undefined) { %>
            <span class="badge badge-primary"><i class="entypo-monitor"></i> <%- movie.quality %></span>
            <% } %>
            <% if(movie.language != undefined) { %>
            <span class="badge badge-warning"><i class="entypo-sound"></i> <%- movie.language %></span>
            <% } %>
            <% if(movie.subtitles != undefined) { %>
            <span class="badge badge-danger"><i class="entypo-text-doc"></i> <%- movie.subtitles %></span>
            <% } %>
            
            <div class="pull-right">
                <div class="btn-group btn-group-xs">
                    <% if(movie.videos.length > 1 ) { %>
                    <a class="btn btn-transparent btn-sm" href="/archive/<%- movie._id %>" data-full-size="<%- tailleDossier %>" class="archive" title="Télécharger">
                        <% } else {%>
                        <a class="btn btn-transparent btn-sm" href="/download/<%- movie._id %>" title="Télécharger">
                            <% } %>
                            <i class="fa fa-download"></i>
                        </a>
                        <a class="btn btn-transparent btn-sm delete-item" href="/delete/movie/<%- movie._id %>" title="Supprimer">
                            <i class="entypo-trash"></i>
                        </a>
                    </div>
                </div>
            </h4>
        </header>
        
        <div class="body">
            <div class="col-md-2">
                <div class="cover">
                    <% if(movie.picture == undefined) {%>
                    
                    <% } else { %>
                    <a href="/watch/<%- movie._id %>">
                        <img title="Visionner" class="btn btn-transparent"src="<%- movie.picture %>" />
                    </a>
                    <% } %>
                    
                </div>
                <br>
                <% if(movie.trailer != undefined) { %><div class="box">
                <a class="btn btn-transparent btn-block" href="<%- movie.trailer%>" target="_blank">Bande annonce</a></div>
                <% } %>
            </div>
            <br>
            <div class="col-md-10">	<div class="box">
                <p class="infos">
                    <%- movie.synopsis %><br>
                    
                </p>
                
                <% if(movie.videos.length > 1) { %>
                <div class="panel-group" id="<%-movie._id%>">
                    <div class="panel">
                        <div>
                            <a class="btn btn-transparent btn-block collapsed showFiles" data-toggle="collapse" data-parent="#<%-movie._id%>" href="#is<%-movie._id%>">
                                <% if(movie.type == 'tvseries') { %>Episodes<%} else {%>Fichiers<%}%>
                            </a>
                        </div>
                        <div id="is<%-movie._id%>" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <table class="table-hover col-md-12">
                                    <thead>
                                        <tr><th>#</th><th>Nom</th><th>Taille</th><th>Options</th></tr>
                                    </thead>
                                    <tbody>
                                        <%	var i = 1, tailleDossier = 0;
                                                                                      movie.videos.sort(function (a, b) {
                                                                                          if (a.name == b.name) {
                                                                                              return 0;
                                                                                          } else if (a.name > b.name) {
                                                                                              return 1;
                                                                                          }
                                                                                          return -1;
                                                                                      });
                                                                                      
                                                                                      movie.videos.forEach(function(file) {
                                                                                          %>
                                        <tr data-id="<%if(file.episode !== undefined){%><%-file._id%><%} %>">
                                            <td style="text-align:left"><span class="badge badge-inverse"><%- i %></span></td>
                                            <td style="text-align:left"><%- file.name %> <% if(movie.season != undefined) { %><span class="badge badge-success">S<%- movie.season%><%if(file.episode !== undefined) {%>E<%-file.episode%><%}%><%}%></span></td>
                                            <td style="text-align:left"><span class="badge badge-info"><%- bytesToSize(file.size) %></span></td>
                                            <td style="text-align:left">
                                                <div class="btn-group btn-group-xs">
                                                    <a class="btn btn-transparent" href="/download/<%-movie._id%>/<%-file._id%>"><i class="fa fa-download"></i></a>
                                                    <a class="btn btn-transparent" href="/watch/<%-movie._id%>/<%-file._id%>"><i class="fa fa-eye"></i></a>
                                                </div>
                                            </td>
                                        </tr>			
                                        <% 
                                                                                              i++;
                                                                                                                                                                                                                    }); 
                                                                                                                           %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <% if(movie.videos[0].episode === null ) { %> 
                                            <td colspan="3" style="text-align:left">Taille totale : <span class="badge badge-success"><%- bytesToSize(tailleDossier) %></span></td>
                                            <td style="text-align:left">
                                                <a class="btn btn-transparent btn-xs" href="/archive/<%- movie._id %>" data-full-size="<%- tailleDossier %>" class="archive"><i class="fa fa-lock"></i></a>
                                            </td>
                                            <% } %>
                                        </tr>
                                    </tfoot>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <% } %>
                </div>
            </div>
        </div>
    </div>
    <div data-id="<%- movie._id %>" class="element miniature video btn btn-transparent" data-date-added="<%- new Date(movie.dateAdded).getTime() %>">   
        <a href="/watch/<%- movie._id %>">
            <% if(movie.picture == undefined) {%>
            <i class="entypo-video"></i>
            <% } else { %>
            <img style="max-height:500px" src="<%- movie.picture %>" title="<%- movie.title %>" />
            <% } %>
        </a>
    </div>
    
    <li data-id="<%- movie._id %>" class="dd-item element table video" data-date-added="<%- new Date(movie.dateAdded).getTime() %>">
        <div class="dd-handle col-md-11"><i class="fa fa-film"></i> <%- movie.title %> <% if(movie.season != undefined) { %><span class="badge badge-success">S<%- movie.season%><% if(movie.episode != undefined) { %>E<%- movie.episode%><% } %></span><% } %> <% if(movie.quality != undefined) { %>
            <span class="badge badge-primary"><i class="entypo-monitor"></i> <%- movie.quality %></span>
            <% } %>
            <% if(movie.language != undefined) { %>
            <span class="badge badge-warning"><i class="entypo-sound"></i> <%- movie.language %></span>
            <% } %>
            <% if(movie.subtitles != undefined) { %>
            <span class="badge badge-danger"><i class="entypo-text-doc"></i> <%- movie.subtitles %></span>
            <% } %></div>
    </li>
    <%
                                                                                                                                                                                                         });
                                                                                                                                                                                                          %>